<header>
        <img style="max-width: 140px; vertical-align: middle;" [ngStyle.lt-sm]="{'width.em': 2}" [ngStyle.lt-md]="{'width.em': 5}" alt="bluetooth_red" src="../../../assets/bluetooth_red.svg">
        <h1 style="display: inline-flex;" [ngStyle.lt-sm]="{'font-size.em': 0.9}" [ngStyle.lt-md]="{'font-size.em': 1.4}">{{title}}</h1>
        <app-nav-panel></app-nav-panel>
    </header>
    <router-outlet calss="body-style"></router-outlet>
    <footer>
        <div class="footer-style">
            <span><h3>Copyright 2017</h3></span>
            <span><p>Made by Matas Gumbinas IF-4/4</p></span>
        </div>
    </footer>
    